.dashboard {
    padding: 0rem 1rem;
    overflow-y: scroll;
    height: 95%;
    overflow-x: hidden;
}

h1 {
    margin-bottom: 1rem;
}

.stats-con {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns on larger screens */
    gap: 2rem;
}

.chart-con {
    grid-column: 1 / 4; /* Span columns 1 to 3 */
    height: 400px;
}

.history-con {
    grid-column: 4 / -1; /* Span columns 4 to the end */
}

.history-con h2 {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.salary-title {
    font-size: 1.2rem;
}

.salary-title span {
    font-size: 1.8rem;
}

.salary-item {
    background: #FCF6F9;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.salary-item p {
    font-weight: 600;
    font-size: 1.6rem;
}

.amount-con {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
}

.income,
.expense,
.balance {
    background: #FCF6F9;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
}

.income h2,
.expense h2,
.balance h2 {
    font-size: 1.8rem;
}

.income p,
.expense p,
.balance p {
    font-size: 2rem;
    font-weight: 700;
}

/* Media query for smaller screens */
@media (max-width: 1133px) {
    .stats-con {
        display: flex;
        flex-direction: column; /* Stack the columns vertically */
        gap: 2rem; /* Adjust gap between items */
    }

    .chart-con {
        order: 2; /* Move the chart below the history */
        width: 100%;
        height: auto; /* Adjust height for smaller screens */
    }

    .history-con {
        order: 1; /* Move the history above the chart */
        width: 100%; /* Full width */
    }
}
