.Expense-Form {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;


    .error{
        color: red;
    }
}

.Expense-Form input, .Expense-Form textarea, .Expense-Form select {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 2px solid #fff;
    background: white;
    resize: none;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    color: rgba(34, 34, 96, 0.9);
}

.Expense-Form input::placeholder, .Expense-Form textarea::placeholder {
    color: rgba(34, 34, 96, 0.4);
}

.Expense-Form .input-control {
    input {
        width: 100%;
    }
}

.Expense-Form .selects {
    display: flex;
    justify-content: flex-start;
}

.Expense-Form .selects select {
    color: rgba(34, 34, 96, 0.6);
}

.Expense-Form .selects select:focus,
.Expense-Form .selects select:active {
    color: rgba(34, 34, 96, 1);
}

.Expense-Form .submit-btn {
    display: flex;
    justify-content: center;
}

.Expense-Form .submit-btn button {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    background: rgb(253, 105, 72);
    color: #fff;
    border: none;
    padding: .8rem 1.6rem;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s ease-in-out;
}

.Expense-Form .submit-btn button:hover {
    background: black;
}
