.view-transac {
    padding: 0rem 1rem;
}

.History {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.History h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-color); /* Use your defined primary color */
    margin-bottom: 1rem;
    text-align: center;
}

.history-item {
    background: #FCF6F9;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.history-item p {
    font-size: 1.2rem;
    color: var(--primary-text-color); /* Use any appropriate text color */
}

.history-item:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}

.history-item p:first-child {
    font-weight: bold;
}

.history-item p:last-child {
    font-size: 1.4rem;
}
