.IncomeItem {
    background: #FCF6F9;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    color: #222260;
}

.IncomeItem .icon {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
}

.IncomeItem .icon i {
    font-size: 2.6rem;
}

.IncomeItem .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.IncomeItem .content h5 {
    font-size: 1.3rem;
    padding-left: 2rem;
    position: relative;
}

.IncomeItem .content h5::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background: var(--indicator-color); /* Use inline style or replace with appropriate color */
}

.IncomeItem .content .inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.IncomeItem .content .inner-content .text {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.IncomeItem .content .inner-content .text p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary-color); /* Use appropriate primary color */
    opacity: 0.8;
}
.IncomeItem .content .inner-content .btn-con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.IncomeItem .content .inner-content .btn-con button {
    padding: 1rem; /* bPad property */
    border-radius: 50%; /* bRad property */
    background-color: rgb(253, 105, 72); /* bg property */
    color: #fff; /* color property */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.IncomeItem .content .inner-content .btn-con button:hover {
    background-color: black; /* hColor property */
}

.IncomeItem .content .inner-content .btn-con button i {
    color: #fff; /* iColor property */
}
