.App{
    height:100vh;
    background-image: url("https://e0.pxfuel.com/wallpapers/414/366/desktop-wallpaper-vector-cartoon-sunset-landscape-with-peach-sky-3136730-vector-art-at-vecteezy.jpg");
    /* background-image: url("https://www.wallpapertip.com/wmimgs/107-1078327_digital-art.jpg"); */
    background-size:cover;
    position: relative;
}

.App .main{
    flex: 1;
    background: rgba(252, 246, 249, 0.8);
    border: 3px solid #FFFFFF;
    backdrop-filter: blur(20px);
    border-radius: 32px;
    overflow-x: hidden;
    /* &::-webkit-scrollbar{
      width: 0; */
}