.Navigation{
    padding: 0.3rem 1.5rem;
    width: 374px;
    height: 100%;
    background: rgba(252, 246, 249, 0.78);
    border: 3px solid #FFFFFF;
    backdrop-filter: blur(10px);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.Navigation .user-av{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.Navigation .user-av img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    /* background: #fcf6f9; */
    /* border: 2px solid #FFFFFF; */
    padding: .2rem;
    /* box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.06); */
}

.Navigation .user-av h2{
    color: rgba(34, 34, 96, 1);
    font-size: 35px;
}
.Navigation .user-av p{
    color: rgba(34, 34, 96, .6);
    font-size: 20px;
}

.Navigation .menu-items{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Navigation .menu-items li{
    display: grid;
    font-size: 25px;
    grid-template-columns: 40px auto;
    align-items: center;
    margin: .6rem 0;
    font-weight: 500;
    cursor: pointer;
    transition: all .4s ease-in-out;
    color: rgba(34, 34, 96, .6);
    padding-left: 1rem;
    position: relative;
}

.Navigation .menu-items .bottom-nav{
    margin-top: 140px;
}

.Navigation .active{
    color: rgba(34, 34, 96, 1) ;
    i{
        color: rgba(34, 34, 96, 1) ;
    }
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background: #313177;
        border-radius: 0 10px 10px 0;
    }
}